.window {
    background: #030303ee;

    border-radius: .75rem;
    // padding-bottom: -.5rem;
    cursor: default;
    display: flex;
    flex-direction: column;
overflow:hidden;
height:100%;


    .title-bar {
        display: flex;
        gap: 1rem;
        padding-block: .4rem;
        padding-inline: .5rem;
        border-bottom: 1px solid rgb(98, 98, 98);

        .three-dot {
            display: flex;
            gap: .3rem;

            .dot {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;

            }

            .red {
                background: rgb(226, 39, 39);
            }

            .yellow {
                background: rgb(223, 223, 39);
            }

            .green {
                background: rgb(17, 201, 17);
            }
        }
    }

    .window-content {
        padding-bottom: 2rem;
        height: 100%;
        
      
    }
}