* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(241, 241, 241);
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  background: rgb(30, 30, 30);
  overflow:hidden;
}


main{
  width:100%;
  height:100%;
  background: url("/public/walpper-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;

}
